/* Reset */ 
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*General Styling*/
html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
}

.color-secondary {
  color: #ffd091;
}

/* Utiliy Classes */
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
}

.clr {
  clear: both;
  }

.text-lead {
  font-size: 2.5rem;
}

.sticky {
  position: fixed;
  width: 100%;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.flat-box {
  width: 100%;
  padding: 30px 20px 10px 20px;
  border-bottom: 2px solid #333;
  height: 20%;
}

.section-height {
  height: 100vh;
}

/* Nav Bar */
#navbar {
  background: #555;
  color: #fff;
}

#navbar a {
  color: #fff;
}

#navbar .nav-logo {
  float: left;
  padding: 20px;
}

#navbar .nav-menu{
  float: right;
  list-style: none;
}

#navbar .nav-menu li {
  float: left;
}

#navbar .nav-menu li a {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
}

#navbar .nav-menu li a:hover,
#navbar .nav-logo a:hover {
  color: #ffd091;
}

#navbar .nav-menu li a:hover {
  background: #333;
}

/* Showcase Style */
header {
  background: url('./assets/images/build-a-baller-bg-img.jpg') no-repeat center center/cover;
  height: 100vh;
}

#showcase{
  color: #f4f4f4;
  text-align: center;
  padding-top: 200px;
}


/* About Section */
#about{
  background: #f4f4f4;
}

#about .text-lead {
  text-align: center;
  padding: 60px 0;
}

#about .about-left {
  float: left;
  width: 50%;
  text-align: center;
  height: 80vh;
  padding: 15px 20px;

}

#about .about-left img {
  width: 75%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

#about .about-left p {
  margin-top: 15px;
  font-weight: 600;
}

#about .about-right {
  float: right;
  width: 50%;
  text-align: center;
  height: 80vh;
  padding: 5%;
}

#about .about-right h2 {
  margin-bottom: 30px;
}

#about .about-right .flat-box:last-child {
  border: none;
}

#about .about-right h3 {
  display: inline-block;
  float: left;
  margin-top: -10px;
  margin-bottom: 10px;
}

#about .about-right p {
  float: right;
  line-height: 1.5rem;
}



/* Features Section */

#features {
  overflow: auto;
}

#features .text-lead {
  text-align: center;
  margin: 60px 0;
}

#features i {
  font-size: 8rem;
  margin-bottom: 35px;
  margin-top: -15px;
}

#features p {
  line-height: 1.5rem;
}

/* Footer Style */

footer {
  height: 50vh;
  background: #ffd091;
}

footer .footer-left {
  float: left;
  width: 50%;
}

footer .footer-left ul {
  margin-top: 60px;
  margin-left: 20px;
  list-style: none;
}

footer .footer-left ul li {
  padding: 15px 10px;
}


footer .footer-left ul a {
  color:#333;
  font-size: 1.8rem;
  font-weight: 700;
}

footer .footer-left ul a:hover {
  color:#f4f4f4;
}

footer .footer-right{
  float: right;
}

footer .footer-right .social-nav {
  list-style-type: none;
  margin-top: 60px;
  font-size: 3.0rem;
}

footer .footer-right .social-nav i {
  color: #333;
  margin: 15px 0;
  margin-right: 30px;
}

footer .footer-right .social-nav i:hover {
  color: #f4f4f4;
}



footer .copy-text {
 margin-bottom: 30px;
  font-size: 1.5rem;
  color: #333;
}
